# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.env

# Lambda packages
lambda_packages/
*.zip

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
